/* styles.css */
:root{
  --color: rgb(255, 255, 69);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #122f4d, #3581d2, #082f5a);
    background-size: 300% 300%;
    animation: gradientAnimation 10s infinite alternate;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .game-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #0c0c0c;
  }
  
  input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease, box-shadow 0.3s ease;
  }
  button:hover{
    transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
#attempts {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
